.action-section{
    // width: 70%;
    //   width: 56%;
   // width: 48%;

    .top-filter{
        display: inline-flex;
        width: 100%;
        .select-filter{
            display: inline-flex;
            width: 100%;
            margin: 0;
            padding: 0;
            color: #424242;
        
            .uxp-form-select{
                margin-right: 1.5em;

                &:nth-child(even){
                    margin-right: 0em;
                }
            }
            .uxp-form-group{
                margin-right: 1.5em;
            }
        }
    }
}
.uxp-toggle-filter{
    background-color: transparent;
}

.no-data-available{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.uxp-select-dropdown-container .uxp-select-dropdown .uxp-select-option{  
    color: #424242; 
}
.uxp-form-select .uxp-select-placeholder.valid::before { 
      filter:none;
}
.uxp-form-select .uxp-select-placeholder.valid .selected {
    color: #424242; 
}
.uxp-form-select {
    min-width: 140px; 
   
}

.uxp-emi-dropdown{ 
    display: inline-flex;
    width: 100%;
    margin-right: 1em;

    label{
        font-size: 12px;
          width: 4em; 
          text-align: center; 
        display: inline-block;
        // padding: 1.5em 2em 0em 1em;
        padding: 1.5em 0em 0em 0em;
        color: #424242;
    }

    .uxp-emi-select-sec{
        display: inline-flex;
        width: 48%;

        .select-box{
            border: none;
            color: #424242;
            display: inline-block;
            width: 45%;
            height: auto;
            padding: 0;
            background-color: #ffffff;
            z-index: 0;
            border-radius: 10px;
            overflow: hidden;
            padding: 12px 5px 12px 5px;
            transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
            outline: none;
            margin-right: 0.5em;
            /* font-size: 8px; */

            option{
                background-color: white;
                color: #333;
                padding: 5px;
                display: inline-block;

                &:hover{
                    background-color: rgba(82, 196, 201, 0.2901960784);
                    color: #424242;
                }
            }
            &:focus {
                border-color: #666; /* Add a border color on focus */
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
              }
        }
    }
}



.scope-overall{
    display: inline-flex;
    width: 100%;
    padding: 0px 2%;

    .scope-box{ 

        display: inline-block;
        width: 33%;
        padding: 2.5em 2%;
        border-radius: 15px;
        margin: 0 0 0 1%;
        height: 9em;
        position: relative;

        &.green-scope-box{
            // background: #6b9459;
            // background-color: #537453;
            background-color: rgb(83, 116, 83);
            margin-left: 0;
        }
        &.blue-scope-box{
            // background: #4c99a2;
            // background-color: #486e76;
            background-color: rgb(72, 110, 118);
        }
        &.orange-scope-box{
            // background: #dea76b;
            // background-color: #b98056;
            background-color: rgb(185, 128, 86);
        }
        &.green_blue-scope-box{
            background: rgb(83, 116, 83);  
            background: -moz-linear-gradient(90deg, rgb(98 137 98) 15%, rgb(83, 116, 83) 40%, rgb(74 121 131) 78%);
            background: -webkit-linear-gradient(90deg, rgb(98 137 98) 15%, rgb(83, 116, 83) 40%, rgb(74 121 131) 78%);
            background: linear-gradient(90deg, rgb(98 137 98) 15%, rgb(83, 116, 83) 40%, rgb(74 121 131) 78%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#537453",endColorstr="#486e76",GradientType=1);

            width: 40%;
        }
        &.green_blue_orange-scope-box{
            background: rgb(72, 110, 118);
            background: -moz-linear-gradient(90deg, rgb(98, 137, 98) 16%, rgb(74 121 131) 51%, rgb(185 128 86) 100%);
            background: -webkit-linear-gradient(90deg, rgb(98, 137, 98) 16%, rgb(74 121 131) 51%, rgb(185 128 86) 100%);
            background: linear-gradient(90deg, rgb(98, 137, 98) 16%, rgb(74 121 131) 51%, rgb(185 128 86) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#537453",endColorstr="#486e76",GradientType=1);
            width: 46%;
        }

        h4{ 

            font-size: 1em;
            display: inline-block;
            width: 100%;
            text-align: left;
            margin: 0;
            text-transform: uppercase;
            font-weight: normal;
            color: #fff;
        }
        h3{  
            font-size: 1.65em;
            display: inline-block;
            width: 100%;
            text-align: left;
            margin-top: 7px;
            color: #171717;
            font-weight: normal;

            span{
                color: #303130;
                font-size: 0.6em;
                font-weight: 600;
                em{
                    font-style: normal;
                    font-size: 0.7em;
                }
            }
        }

         .scope-bottom{
                position: absolute;
                bottom: 1.5em;
                right: 1em;
                em{
                    font-size: 12px; 
                    font-style: normal;
                    font-weight: 600;
                    color: #fff;
                }
                span{
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                    width: 14px;
                    display: inline-block;
                    height: 14px;
                    margin: 0px 0 0 5px;
                    vertical-align: bottom;
                    transform: rotate(180deg);
                    &.up-arrow{
                        background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-down-red.svg);
                    }
                    &.down-arrow{
                        background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-up-green.svg);
                    }
                }
            }
       
    }
}
.scope1_breakdown_widget{
    display: inline-block;
    width: 100%;
    padding: 3em 2% 0;
}


.scopewise-chart{
    display: inline-block;
    width: 100%;
    height: 100%;
    .chart{
        width: 100%;
        height: 80%; 
    }

    .view-more{
        position: absolute;
        bottom: 2em;
        right: 2em;
        .uxp-button{
            color: #424242;
            text-decoration: none;
            background: #ddd;
            padding: 9px 2em;
            text-align: center;
            box-shadow: none;
            font-size: 1em;;
        }
    }

    &.scope1_breakdown{
        display: inline-block;
        width: 100%;

         .chart {
            width: 98%;
            height: 100%;
        }
    }
}


.assets-widget-list {
    display: inline-flex;
    padding: 6em 2em 2em 2em;
    position: relative;
    width: 100%;

    .list-top-filter{
        position: absolute;
        right: 2em;
        top: 2em;
    }

    .item-list{ 
        
        padding: 1em 0% 1em 0%;
        width: 33%;
        overflow: auto;
        // min-height: 73vh;
        // max-height: 84vh; 
        border-radius: 10px;
        margin-left: 1%;

        &.green-item-list{
            background-color: #6b945957;
            margin-left: 0;
        }

        &.blue-item-list{
            background-color: #4c99a257;
            
        }

        &.orange-item-list{
            background-color: #dea76b57;
        }

        ul{ 

            list-style: none;
            margin: 0em 0em 1em;
            padding: 0em 0em 0em;

            li{ 
                display: inline-flex;
                width: 96%;
               //  width: 100%;
                padding: 15px 10px;
                border-radius: 10px;
                margin-top: 0.8em; 
                margin: 0 2% 0.8em;
                background-color: #fff;

                .carbon-emission-item{ 
                    display: inline-flex;
                    width: 100%;
                    label{
                        display: inline-block;
                        width: 60%;
                        font-size: 11px;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;
                        line-height: 1.5em;
                    }
                    .item-value{
                        width: 20%;
                        position: relative;
                        height: 2.6em;

                        .uxp-button {
                            color: #fff;
                            margin: 0;
                            vertical-align: top;
                            font-size: 10px;
                            width: 100%;
                            text-align: center;
                            padding: 9px 0px;
                            display: inline-block;
                            height: fit-content; 
    
                            &.analysis_greenbtn{
                                background-color: #3fa711e0;
                            }
                            &.analysis_redbtn{
                                background-color: #e4261ef2;
                            } 
                            &.analysis_yellowbtn{
                                background-color: #ebd728e8;
                            }
                        }
                        em{
                            font-size: 8px;
                            position: absolute;
                            bottom: -12px;
                            left: 0;
                            text-align: center;
                            width: 100%;
                            font-style: normal;
                        }
                    }
                    span{
                        display: inline-block;
                        width: 26%;
                        font-size: 11px;
                        text-align: right;
                        margin-top: 0.7em;
                        .arrow{ 
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: auto 100%;
                                width: 14px;
                                display: inline-block;
                                height: 14px;
                                margin: 0px 0 0 5px;
                                vertical-align: bottom;
                                transform: rotate(180deg);
                                &.up-arrow{
                                    background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-down-red.svg);
                                }
                                &.down-arrow{
                                    background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-up-green.svg);
                                
                                }
                        }
                    } 
                    em.years{
                        display: inline-block;
                        font-size: 18px;
                        vertical-align: top;
                        font-style: normal;
                        font-size: 11px;
                    } 
                    
                }
        }
        
    } 
       
    }

    .uxp-item-list-card{
        padding: 0 0%;
        border: 1px solid #ddd;
        margin: 0 1%;
        width: 98%;
        .header{
            padding: 0px 15px;
        }
    }


}

.emi-breakdown{
    .title-section{
        width: 100%;
    }
}
 

.modal-container.popup{ 

    .modal-panel{
        min-width: 100%;
        min-height: 100%;
        border-radius: 0;

        .modal-header{
            position: relative;
            padding: 30px;
            .modal-title {  
                text-align: left;
                display: inline-block;
                width: 30%;
                position: absolute;
                z-index: 1;
                left: 5%;
            }
            .modal-close {
                position: absolute;
                .close-btn{
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC4zMjUiIGhlaWdodD0iMTAuMDYzIiB2aWV3Qm94PSIwIDAgMTAuMzI1IDEwLjA2MyI+PGRlZnM+PHN0eWxlPi5he29wYWNpdHk6MC4yNDt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik01LjkzMSwxMi4wMzZsLS41MTIuNTEyYS41NTEuNTUxLDAsMCwxLS43ODEsMEwuMTU5LDguMDcxYS41NTEuNTUxLDAsMCwxLDAtLjc4MWw0LjQ4LTQuNDhhLjU1MS41NTEsMCwwLDEsLjc4MSwwbC41MTIuNTEyYS41NTQuNTU0LDAsMCwxLS4wMDkuNzlMMy4xNDUsNi43NTdIOS43NjhhLjU1Mi41NTIsMCwwLDEsLjU1My41NTN2LjczN2EuNTUyLjU1MiwwLDAsMS0uNTUzLjU1M0gzLjE0NWwyLjc3NywyLjY0NUEuNTUuNTUsMCwwLDEsNS45MzEsMTIuMDM2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDQgLTIuNjQ3KSIvPjwvc3ZnPg==);
                    background-size: 40%;
                }
            }
        } 

      

        .modal-body{ 
            
                .top-filter{
                    display: inline-flex;
                    // width: 64%;
                    width: 47%;
                    float: right;
                    margin-bottom: 2em;

                    

                    .select-filter{
                        display: inline-flex;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        color: #424242;
                    
                        .uxp-form-select{
                            margin-right: 1.5em;
            
                            &:nth-child(even){
                                margin-right: 0em;
                            }
                        }
                        .uxp-form-group{
                            margin-right: 1.5em;
                        }
                    }
                } 

            .recharts-responsive-container{ 
                float: left;
                height: 425px!important;
                background: #fff;  
                box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.12);
                border-radius: 10px; 
    
            }  
        }

    }
}

// Carbon Emissions category Breakdown Dashboard

/* Style for the toggle switch */

.scope1_breakdown_widget{

    .action-section {
        display: inline-block;
        width: 48%;
   

    .top-filter{
        .toggle-btn{ 
            display: inline-block;
            width: 40%;

            .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                }
                
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                  
                }
                
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #4f805d;
                    transition: 0.4s;
                    border-radius: 34px;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    border-radius: 50%;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: 0.4s;
                }
                
                input:checked + .slider {
                    background-color: #4c99a2;
                }
                
                input:checked + .slider:before {
                    transform: translateX(26px);
                }

                .chart_label{
                    font-size: 11px;
                    font-style: normal;
                    padding: 12px 5px 0px 5px;
                    vertical-align: top;
                    display: inline-block;
 
                }
            }

            .uxp-toggle-filter{
                width: 60%;
                padding: 0;
                margin: 0;
                background-color: transparent;
                
                .uxp-toggle-option{  
                    padding: 10px 18px;
                    font-size: 10px;
                    &.selected{
                        background-color:#4c99a2 ;
                        color: #ffffff;
                    }
                } 
            }
        }
    }
}

//resource_consumption_overview
.resource_consumption_overview{
     display:inline-flex;
     padding: 1em 2em; 

     .emi-breakdown{
        display: inline-block;
        height: 38em;

        .energy_consumption-intensity{ 
                background-color: #000;
                display: inline-block;
                border-radius: 10px;
                padding: 2px 20px;
                margin-left: 1.5em;
          
            p{
                font-size: 11px;
                color: #fff;
            }
        }
     }

     .consuption_composition{
        display: inline-block; 
        width: 100%;  
     }
}



//resource_consumption_overview
.resource_consumption_overview{
    display:inline-flex;
    padding: 1em 2em; 

    .emi-breakdown{
       display: inline-block;
       height: 38em;

       .energy_consumption-intensity{ 
               background-color: #000;
               display: inline-block;
               border-radius: 10px;
               padding: 2px 20px;
               margin-left: 1.5em;
         
           p{
               font-size: 11px;
               color: #fff;
           }
       }
    }

    .consuption_composition{
       display: inline-block; 
       width: 100%;  
    }
}

//ORGANIZATIONAL CARBON TRENDS OVERVIEW
.carbon-trends-overview{
    .resource_consumption_overview{
        .emi-breakdown{
            width: 49%;
            height: 28em;
            margin-right: 2%;

            &:last-child{
                margin-right: 0;
            }

            .widget-wrapper{
                background-color: rgb(129 129 129 / 17%);
                box-shadow: none;
                border: 1px solid #d4d4d4;
                
                .uxp-widget-title-bar{
                    background-color: transparent;
                }
           
            .trends-overall{
                padding: 0 3%;
                display: inline-flex;
                width: 100%;

                .trends-box{

                       width: 31%;
                        display: inline-block;
                        border-radius: 10px;
                        margin: 0em 3% 0em 0em;
                        vertical-align: top;
                        // min-height: 20em;
                         height: 20em;
                         position: relative;

                        &:nth-child(3){
                            margin-right: 0;
                        }

                        label{
                            line-height: 1.7em;
                        }

                    .showcase-checkbox{
                        display: inline-block;
                        width: 100%!important;
                        border-radius: 10px;

                        label{
                            font-size: 11px;
                            margin: 0;
                            padding: 4px 0;
                        }
                    } 
                    .trends-box-cont{
                        // display: inline-block;
                        // width: 100%;
                        // text-align: center; 
                        // position: absolute;
                        // bottom: 1em;
                        // left: 0; 
                        
                            display: inline-block;
                            width: 92%;
                            text-align: center;
                            position: absolute;
                            bottom: 1em;
                            left: 4%;
                          
                            border-radius: 10px;
                            padding: 10px 0px;

                           
                            
                            &.green-trends-box-cont{
                                background: #c1eed0;
                            }
                            &.purple-trends-box-cont{
                                background: #edc5ff;
                            }

                        h5{
                            font-size: 2em;
                            padding: 0 0 0 0;
                            margin: 0;
                            color: #424242;
                            sub{
                                font-size: 0.5em;
                            }
                        }
                        p{
                            font-size: 1em;
                            padding: 5px 0 5px 0;
                            margin: 0;
                            color: #424242;
                        }
                        span {
                            font-size: 0.8em;
                            padding: 0 0 7px 0;
                            display: inline-block;
                        }
                    }

                    &.white-box{
                        background-color: #ffffff;
                    }
                    &.light-red-box{ 
                        background-color: rgba(255, 0, 0, 0.34);
                        border-radius: 50%;
                        height: 17em;
                        width: 17em;

                        .trends-box-cont{ 
                            position: absolute;
                            bottom: 50%;
                            left: 50%;
                            transform: translate(-50%, 50%);
                            h5{
                                font-size: 2.5em;
                            }
                        }
                    }

                }
            }
        }
        }
    }
    .uxp-emi-dropdown{
        margin-right: 0;
    }
}


//************ Configuration Screen *************//

.configuration-overall{
    display: inline-flex;
    width: 98%;
    margin: 0em 1% 0em 1%;
    height: 65vh;
    border: 1px solid #ecebeb;
    border-radius: 15px;
    overflow: hidden;

    .configuration-sidebar{
        padding: 0;
        display: inline-block;
        width: 20%;
        background-color: #104657;
        height: 100%;

        .sidebar-list{
            display: inline-block;
            width: 100%;
            padding: 17px 15px;
            background: #02516a;
            font-size: 12px;
            color: #ffffff;
            font-weight: bold;
            border-bottom: 1px solid #548594;
            cursor: pointer;

            &.active {  
                background-color: #013849;  
                color: #fff;  
                position: relative;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-left: 15px solid #013849;
                    border-bottom: 10px solid transparent;
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
              }

        }
    }
    .content{
        display: inline-block;
        width: 80%;
        padding-left: 2%;
        padding-right: 2%;
        height: 100%;
        background: rgb(196 222 230 / 89%);

        .bu-content{ 
            margin-top: 2em;
            position: relative;
            width: 100%;
            display: inline-block;

            .add-icon{
                right: 5px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url(https://static.iviva.com/images/add-icon.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto 100%;
                cursor: pointer;
                position: absolute;
                top: 0;
                }
            }

        .data-list-container{
            overflow: hidden;
            border-radius: 15px;
        }

        .uxp-button{
            background-color: #104657;
            color: #ffffff;
        }

        .data-list{
            border: 1px solid #d1d1d1;

            .data-table{
                thead{
                    th{
                        background: #104657;
                        text-align: left;
                        color: #ffffff;
                    }
                }
                tbody{
                    .data-list-item{
                        td{
                            .item-card{
                                padding: 0px 8px;
                                min-height: 50px;
                                .content{
                                    background: transparent;
                                }
                            }
                            .edit-icon{
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                background-image: url(https://static.iviva.com/images/edit-icon.svg);
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: auto 100%;
                                cursor: pointer;
                            }
                            .delete-icon{
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                background-image: url(https://static.iviva.com/images/delete.png);
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: auto 100%;
                                cursor: pointer; 
                                margin-left: 1em;
                            }
                        }
                    }
                }
            }
        }


        .business-top-list{
            display: inline-flex;
            width: 80%;
            margin-bottom: 2em;
            label{
                font-size: 13px;
                display: inline-block;
                width: 30%; 
            }
            span{
                display: inline-block;
                width: 70%; 
                 
            }
        }

        .baseline-content{
            display: inline-block;
            width: 100%;

            .baseline-list{
                display: inline-flex;
                width: 60%;
                margin-bottom: 1.5em;

                label{
                    font-size: 13px;
                    display: inline-block;
                    width: 30%;
                    margin-top: 10px;
                }
                span{
                    display: inline-block;
                    width: 70%; 
                }
            } 
           
        }
    }
}
.congig-popup{

    .modal-panel{
        min-width: 40%;
        min-height: 55%;
        max-width: 50%;

        .congig-popup-cont{
            width: 80%;
            /* display: inline-block; */
            margin: 0 auto;
                ul{
                    margin: 0;
                    padding: 0;

                    li{
                        margin: 0;
                        padding: 10px 0 10px 0;
                        list-style: none;
                        display: inline-flex;
                        width: 100%;

                        .uxp-button{
                            background-color: #104657;
                            color: #ffffff;
                        }

                        label{
                            font-size: 13px;
                            display: inline-block;
                            width: 30%;
                            margin-top: 10px;
                        }
                        span{
                            display: inline-block;
                            width: 70%; 

                            input{
                                transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
                                outline: none;
                                border: none;
                                background-color: #ffffff;
                                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
                                border-radius: 10px;
                                padding: 15px 35px 15px 20px;
                                font-size: 13px;
                                width: 100%;
                            }
                        }
                        .showcase-checkbox{
                            display: inline-flex;
                            width: 100% !important;
                            margin: 0;
                            padding: 0;

                            .uxp-form-checkbox{
                                width: 30%;
                                display: inline-block;

                                label{
                                    display: inline-flex;
                                    width: 100%;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        } 
                        
                            button.save-btn{
                                background-color: #4c99a2;
                                color: #ffffff;
                            } 

                            &.save-list{
                                float: right;
                                width: 13%;
                            }
                }
            }
        }
        }
}