.top-filter{
    display: inline-flex;
    width: 100%;
    .select-filter{
        display: inline-flex;
       
        .uxp-form-select{
            margin-right: 1.5em;
        }
        .uxp-form-group{
            margin-right: 1.5em;
        }
    }
}

.uxp-form-select {
    min-width: 200px; 
}

.uxp-emi-dropdown{ 
    display: inline-flex;
    width: 55%;
    margin-right: 1em;

    label{
        font-size: 12px;
        /* width: 4em; */
        /* text-align: center; */
        display: inline-block;
        // padding: 1.5em 2em 0em 1em;
        padding: 1.5em 1em 0em 0.5em;
        color: #52c9a9;
    }

    .uxp-emi-select-sec{
        display: inline-flex;
        width: 45%;

        .select-box{
            border: none;
            color: #52c9a9;
            display: inline-block;
            width: 45%;
            height: auto;
            padding: 0;
            background-color: #ffffff;
            z-index: 0;
            border-radius: 10px;
            overflow: hidden;
            padding: 15px 5px 15px 5px;
            transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
            outline: none;
            margin-right: 0.5em;
            /* font-size: 8px; */

            option{
                background-color: white;
                color: #333;
                padding: 5px;
                display: inline-block;

                &:hover{
                    background-color: rgba(82, 196, 201, 0.2901960784);
                    color: #424242;
                }
            }
            &:focus {
                border-color: #666; /* Add a border color on focus */
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
              }
        }
    }
}



.scope-overall{
    display: inline-flex;
    width: 100%;
    padding: 0px 2%;

    .scope-box{ 

        display: inline-block;
        // width: 18%;
        width: 33%;
        padding: 4.6em 2%;
        border-radius: 15px;
        margin: 0 0 0 1%;
        height: 13em;
        position: relative;

        &.green-scope-box{
            background: #6b9459;
            margin-left: 0;
        }
        &.blue-scope-box{
            background: #4c99a2;
        }
        &.orange-scope-box{
            background: #dea76b;
        }
        &.green_blue-scope-box{
            background: rgb(107,148,89);
            background: -moz-linear-gradient(90deg, rgba(107,148,89,1) 15%, rgba(104,149,97,1) 40%, rgba(76,153,162,1) 78%);
            background: -webkit-linear-gradient(90deg, rgba(107,148,89,1) 15%, rgba(104,149,97,1) 40%, rgba(76,153,162,1) 78%);
            background: linear-gradient(90deg, rgba(107,148,89,1) 15%, rgba(104,149,97,1) 40%, rgba(76,153,162,1) 78%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b9459",endColorstr="#4c99a2",GradientType=1);
            width: 40%;
        }
        &.green_blue_orange-scope-box{
            background: rgb(107,148,89);
            background: -moz-linear-gradient(90deg, rgba(107,148,89,1) 16%, rgba(76,153,162,1) 51%, rgba(222,167,107,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(107,148,89,1) 16%, rgba(76,153,162,1) 51%, rgba(222,167,107,1) 100%);
            background: linear-gradient(90deg, rgba(107,148,89,1) 16%, rgba(76,153,162,1) 51%, rgba(222,167,107,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b9459",endColorstr="#dea76b",GradientType=1);
            width: 46%;
        }

        h4{ 

            font-size: 1em;
            display: inline-block;
            width: 100%;
            text-align: left;
            margin: 0;
            text-transform: uppercase;
            font-weight: normal;
            color: #fff;
        }
        h3{  
            font-size: 2em;
            display: inline-block;
            width: 100%;
            text-align: left;
            margin-top: 7px;
            color: #fff;
            font-weight: normal;
        }

         .scope-bottom{
                position: absolute;
                bottom: 1.5em;
                right: 1em;
                em{
                    font-size: 12px; 
                    font-style: normal;
                    font-weight: 600;
                    color: #fff;
                }
                span{
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                    width: 14px;
                    display: inline-block;
                    height: 14px;
                    margin: 0px 0 0 5px;
                    vertical-align: bottom;
                    transform: rotate(180deg);
                    &.up-arrow{
                        background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-down-red.svg);
                    }
                    &.down-arrow{
                        background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-up-green.svg);
                    }
                }
            }
       
    }
}
.scope1_breakdown_widget{
    display: inline-block;
    width: 100%;
    padding: 3em 2% 0;
}


.scopewise-chart{
    display: inline-block;
    width: 100%;
    height: 100%;
    .chart{
        width: 100%;
        height: 80%; 
    }

    .view-more{
        position: absolute;
        bottom: 2em;
        right: 2em;
        .uxp-button{
            color: #424242;
            text-decoration: none;
            background: #ddd;
            padding: 9px 2em;
            text-align: center;
            box-shadow: none;
            font-size: 1em;;
        }
    }

    &.scope1_breakdown{
        display: inline-block;
        width: 100%;

         .chart {
            width: 98%;
            height: 100%;
        }
    }
}


.assets-widget-list {
    display: inline-flex;
    padding: 6em 2em 2em 2em;
    position: relative;
    width: 100%;

    .list-top-filter{
        position: absolute;
        right: 2em;
        top: 2em;
    }

    .item-list{ 
        
        padding: 1em 0% 1em 0%;
        width: 33%;
        overflow: auto;
        // min-height: 73vh;
        // max-height: 84vh; 
        border-radius: 10px;
        margin-left: 1%;

        &.green-item-list{
            background-color: #6b945957;
            margin-left: 0;
        }

        &.blue-item-list{
            background-color: #4c99a257;
            
        }

        &.orange-item-list{
            background-color: #dea76b57;
        }

        ul{ 

            list-style: none;
            margin: 0em 0em 1em;
            padding: 0em 0em 0em;

            li{ 
                display: inline-flex;
                width: 96%;
               //  width: 100%;
                padding: 25px 15px;
                border-radius: 10px;
                margin-top: 0.8em; 
                margin: 0.8em 2% 0;
                background-color: #fff;

                a{
                    color: #424242;
                    text-decoration: none;
                    width: 100%;
                    cursor: pointer;
                    display: inline-flex;
                }

                label{
                    display: inline-block;
                    width: 55%;
                    font-size: 12px;
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    line-height: 1.5em; 
                }
                span{
                    display: inline-block;
                    width: 20%;
                    font-size: 11px;
                    text-align: right;
                    .arrow{ 
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: auto 100%;
                            width: 14px;
                            display: inline-block;
                            height: 14px;
                            margin: 0px 0 0 5px;
                            vertical-align: bottom;
                            transform: rotate(180deg);
                            &.up-arrow{
                                background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-down-red.svg);
                            }
                            &.down-arrow{
                                background-image: url(https://static.iviva.com/images/Muthuimages/awesome-arrow-circle-up-green.svg);
                            
                            }
                    }
                } 
                em.years{
                    display: inline-block;
                    font-size: 18px;
                    vertical-align: top;
                    font-style: normal;
                    font-size: 11px;
                } 
                .uxp-button {
                    color: #fff;
                    margin: 0;
                    vertical-align: top;
                    font-size: 11px;

                    &.analysis_greenbtn{
                        background-color: #3fa711e0;
                    }
                    &.analysis_redbtn{
                        background-color: #e4261ef2;
                    } 
                    &.analysis_yellowbtn{
                        background-color: #ebd728e8;
                    }
                }
            }
        } 
       
    }

    .uxp-item-list-card{
        padding: 0 0%;
        border: 1px solid #ddd;
        margin: 0 1%;
        width: 98%;
        .header{
            padding: 0px 15px;
        }
    }


}


 

.modal-container.popup{ 

    .modal-panel{
        min-width: 100%;
        min-height: 100%;
        border-radius: 0;

        .modal-header{
            position: relative;
            padding: 30px;
            .modal-title {  
                text-align: left;
                display: inline-block;
                width: 30%;
                position: absolute;
                z-index: 1;
                left: 5%;
            }
            .modal-close {
                position: absolute;
                .close-btn{
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC4zMjUiIGhlaWdodD0iMTAuMDYzIiB2aWV3Qm94PSIwIDAgMTAuMzI1IDEwLjA2MyI+PGRlZnM+PHN0eWxlPi5he29wYWNpdHk6MC4yNDt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik01LjkzMSwxMi4wMzZsLS41MTIuNTEyYS41NTEuNTUxLDAsMCwxLS43ODEsMEwuMTU5LDguMDcxYS41NTEuNTUxLDAsMCwxLDAtLjc4MWw0LjQ4LTQuNDhhLjU1MS41NTEsMCwwLDEsLjc4MSwwbC41MTIuNTEyYS41NTQuNTU0LDAsMCwxLS4wMDkuNzlMMy4xNDUsNi43NTdIOS43NjhhLjU1Mi41NTIsMCwwLDEsLjU1My41NTN2LjczN2EuNTUyLjU1MiwwLDAsMS0uNTUzLjU1M0gzLjE0NWwyLjc3NywyLjY0NUEuNTUuNTUsMCwwLDEsNS45MzEsMTIuMDM2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDQgLTIuNjQ3KSIvPjwvc3ZnPg==);
                    background-size: 40%;
                }
            }
        } 

      

        .modal-body{

            .top-filter {
                display: inline-block;
                width: 100%;
                margin: 0em 0em 1.2em 0em;

                .select-filter{
                    float: right;

                    .uxp-form-group, .uxp-form-select{
                        margin: 0 0 0 1.5em;
                    }
                }
            }
           
            .recharts-responsive-container{
                // width: 76% !important;
                // height: 100% !important;
                // overflow: auto;
                // margin: 3% 12%;

                height: 425px!important;
                background: #fff;  
                box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.12);
                border-radius: 10px; 
    
            }  
        }

    }
}

// Carbon Emissions category Breakdown Dashboard

/* Style for the toggle switch */

.scope1_breakdown_widget{

    .action-section {
        display: inline-block;
        width: 40%;
   

    .top-filter{
        .toggle-btn{ 
            display: inline-block;
            width: 40%;

            .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                }
                
                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                  
                }
                
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #4c99a2;
                    transition: 0.4s;
                    border-radius: 34px;
                }
                
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    border-radius: 50%;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: 0.4s;
                }
                
                input:checked + .slider {
                    background-color: #4f805d;
                }
                
                input:checked + .slider:before {
                    transform: translateX(26px);
                }

                .chart_label{
                    font-size: 11px;
                    font-style: normal;
                    padding: 12px 10px 0px 10px;
                    vertical-align: top;
                    display: inline-block;
 
                }
            }

            .uxp-toggle-filter{
                width: 60%;
                padding: 0;
                margin: 0;
                
                .uxp-toggle-option{  
                    padding: 10px 18px;
                    font-size: 11px;
                    &.selected{
                        background-color:#4c99a2 ;
                        color: #ffffff;
                    }
                } 
            }
        }
    }
}